.img {
    padding: 3px;
    height: 150px;
    width: 180px;
    filter: brightness(0.95);
    object-fit: contain;
}
.card:hover {
    transform: scale(1.1);
}
.titleBlock {
    margin-left: 5px;
    margin-right: 5px;
    height: 55px;
}
.priceBlock {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: 30px;
    margin-left: 5px;
    padding-bottom: 5px;
}
.buttons {
    position: relative;
    width: 300px;
    height: 300px;
}
.buttons:hover .block {
    display: block;
}
.title {
    font-weight: 400;
    font-size: 15px;
}

.card {
    transition: 1s;
    margin: 9px;
    margin-top: 20px;
    height: 245px;
    width: 200px;
    background-color: white;
}
.button {
    width: 200px;
}
.cardText {
    color: white;
}
.priceText{
    font-weight: 600;
    font-size: 18px;
}
.buttonHeart {
    border: none;
    border-radius: 50%;
    background-color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    color: black;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.163407);
    margin-right: 10px;
}
.heartSt {
    color: red;
}
.posButton{
    margin-left: 170px;
}