.img {
    height: 150px;
    width: 200px;
    /* transition: 1s; */
}
/* .img:hover {
    transform: scale(1.1);
} */
.titleBlock{
    height: 55px;
}
.priceBlock{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: 30px;
}
.buttons {
    position: relative;
    width: 300px;
    height: 300px;
}
.buttons:hover .block {
    display: block;
}
.title {
    font-weight: 400;
}

.card {
    margin: 9px;
    margin-top: 20px;
    height: 220px;
    width: 200px;
}
.button {
    width: 200px;
}
.cardText {
    color: white;
}
.buttonHeart {
    border: none;
    border-radius: 50%;
    background-color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    color: black;
}
.heartSt {
    color: red;
}
