.itemImg {
    margin-left: 20px;
    margin-top: 18px;
    margin-bottom: 18px;
    border-radius: 3px;
    height: 125px;
    width: 125px;
}
.flexContainer {
    margin-top: 20px;
    border: 1px solid #eceef0;
    box-sizing: border-box;
    box-shadow: 0px 4px 15px rgba(83, 83, 83, 0.053);
    border-radius: 4px;
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
}
.first {
    width: 175px;
    height: 165px;
    flex-grow: 1;
}
.second {
    width: 30%;
    text-align: center;
    flex-grow: 3;
}
.third {
    border-left-width: 10px;
    width: 10%;
    border-left: 1px solid black;
    text-align: center;
    flex-grow: 1;
}
.priceBlock{
    margin-top: 50%;
}
.titleBlock{
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    width: 80%;
}
.buttonsCount {
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: #707070;
    text-align: center;
    background-image: url("../../../Icons/buttonsCount.svg");
}
.buttonsBlock {
    margin-top: 15px;
    display: flex;
    margin-left: 20%;
    flex-direction: row;
}
.countNum{
    margin-left: 10px;
    margin-right: 10px;
}
.dumpIcon{
    margin-right: 20px;
}