.cardList {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.editBlock {
    background: #f8f8f8;
    height: 100%;
}
.mainContent {
    background-color: #FFFFFF;
    height: 1000px;
    margin-left: 18%;
    margin-right: 18%;
}
