.elBLock {
    margin-top: 20px;
    width: 50%;
    height: 85px;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid #eceef0;
    box-shadow: 0px 4px 14px rgba(121, 121, 121, 0.0527344);
    border-radius: 4px;
}
.blockText{
    margin-top: 15px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}
.elText{
    margin-left: 10px;
}
.priceBlock{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 55%;
}
.linkText{
    margin-left: 15px;
    text-decoration-line: underline;
    color: #148DFD;
    font-size: 15px;
}